@model MvcTestApp.Models.CustomerPayment
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h2>Enter The Number Of Days To Display</h2>*@
    @*Дата: <input type="date" id="date" name="date" />*@
    Дата: @Html.(model => model.Date)
    Контрагент: @Html.TextBoxFor(model => model.Id)
    <input type="submit" value="ать" />
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
